@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500;700&family=Mulish:wght@400;500;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes marquee {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  display: flex;
  width: max-content;
  animation: marquee 20s linear infinite;
}

/* Responsive Width + p tag font-size only */
@media (max-width: 1400px) {
  .max-w-\[1200px\] {
    max-width: 1100px;
  }

  p {
    font-size: 20px !important;
  }
}

@media (max-width: 1300px) {
  .max-w-\[1200px\] {
    max-width: 1000px;
  }

  p {
    font-size: 18px !important;
  }
}

@media (max-width: 1200px) {
  .max-w-\[1200px\] {
    max-width: 900px;
  }

  p {
    font-size: 17px !important;
  }
}

@media (max-width: 1000px) {
  .max-w-\[1200px\] {
    max-width: 90%;
  }

  p {
    font-size: 10px !important;
  }

  .select_category {
    position: absolute;
    right: 1rem;
    margin-top: 0px;
  }

  ._sizes {
    font-size: 9px;
  }

  ._container {
    padding-top: 30px;
  }

  .custom-grid {
    gap: 1rem;
  }

}

/* Prevent wrapping */
@media (max-width: 1400px) and (min-width: 1000px) {
  .custom-no-wrap {
    flex-wrap: nowrap !important;
    justify-content: center !important;
  }
}

@media (max-height: 1024px) {
  ._sizes.md\:text-sm {
    font-size: 7px !important;
    line-height: 14px !important;
  }

  .select_category {
    position: absolute;
    right: 25px;
    margin-top: 0px;
  }


}